_ngo/
_xmsgs/
usage_statistics_webtalk.html
webtalk.log
webtalk_pn.xml
xilinx_pci_exp_ep.bgn
*.bit
*.mcs
xilinx_pci_exp_ep.bld
xilinx_pci_exp_ep.cmd_log
xilinx_pci_exp_ep.drc
xilinx_pci_exp_ep.lso
*.ncd
xilinx_pci_exp_ep.ngc
xilinx_pci_exp_ep.ngd
xilinx_pci_exp_ep.ngr
xilinx_pci_exp_ep.pad
xilinx_pci_exp_ep.par
xilinx_pci_exp_ep.pcf
xilinx_pci_exp_ep.prj
xilinx_pci_exp_ep.ptwx
xilinx_pci_exp_ep.stx
xilinx_pci_exp_ep.syr
xilinx_pci_exp_ep.twr
xilinx_pci_exp_ep.twx
xilinx_pci_exp_ep.unroutes
xilinx_pci_exp_ep.ut
xilinx_pci_exp_ep.xpi
xilinx_pci_exp_ep.xst
xilinx_pci_exp_ep_envsettings.html
xilinx_pci_exp_ep_map.map
xilinx_pci_exp_ep_map.mrp
xilinx_pci_exp_ep_map.ncd
xilinx_pci_exp_ep_map.ngm
xilinx_pci_exp_ep_map.xrpt
xilinx_pci_exp_ep_ngdbuild.xrpt
xilinx_pci_exp_ep_pad.csv
xilinx_pci_exp_ep_pad.txt
xilinx_pci_exp_ep_par.xrpt
xilinx_pci_exp_ep_summary.xml
xilinx_pci_exp_ep_usage.xml
xilinx_pci_exp_ep_xst.xrpt
xlnx_auto_0_xdb/
xst/
*.html
*.xreport
output.txt
_impact.cmd
dragon_spi.cfi
dragon_spi.prm
impact_impact.xwbt
spiflash.ipf
webtalk_impact.xml
xilinx_pci_exp_ep_bitgen.xwbt
