#
# SYS reset (input) signal.  The sys_reset_n signal should be
# obtained from the PCI Express interface if possible.  For
# slot based form factors, a system reset signal is usually
# present on the connector.  For cable based form factors, a
# system reset signal may not be available.  In this case, the
# system reset signal must be generated locally by some form of
# supervisory circuit.  You may change the IOSTANDARD and LOC
# to suit your requirements and VCCO voltage banking rules.
#
NET "sys_reset1_n"      LOC = "U1"  |IOSTANDARD = LVCMOS33 |PULLUP |NODELAY |TIG;
NET "sys_reset2_n"      LOC = "R1"  |IOSTANDARD = LVCMOS33 |PULLUP |NODELAY |TIG;

#
# SYS clock 100 MHz (input) signal. The sys_clk_p and sys_clk_n
# signals are the PCI Express reference clock. Virtex-5 GTP
# Transceiver architecture requires the use of a dedicated clock
# resources (FPGA input pins) associated with each GTP Transceiver Tile.
# To use these pins an IBUFDS primitive (refclk_ibuf) is
# instantiated in user's design.
# Please refer to the Virtex-5 GTP Transceiver User Guide
# (UG196) for guidelines regarding clock resource selection.
#
NET  "sys_clk_p"       LOC = "J3"  ;
NET  "sys_clk_n"       LOC = "J4"  ;
INST "refclk_ibuf"     DIFF_TERM = "TRUE" ;

#
# Transceiver instance placement.  This constraint selects the
# transceivers to be used, which also dictates the pinout for the
# transmit and receive differential pairs.  Please refer to the
# Virtex-5 GTP Transceiver User Guide (UG196) for more
# information.
#

# PCIe Lane 0
INST "ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[0].GT_i" LOC = GTP_DUAL_X0Y1;

INST "ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_retry/generate_sdp.ram_sdp_inst"      LOC = RAMB36_X1Y4 ;
#INST "ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X1Y3 ;
INST "ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X1Y2 ;
#INST "ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X1Y1 ;
INST "ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X1Y0 ;

#
# Timing requirements and related constraints.
#
NET "sys_clk_c" PERIOD = 10ns;
NET "ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/gt_refclk_out" TNM_NET = "MGTCLK" ;
TIMESPEC "TS_MGTCLK"  = PERIOD "MGTCLK" 100.00 MHz HIGH 50 % ;

#
# LEDs
#
#
NET V1  LOC = V1 | IOSTANDARD = LVCMOS33 ; //green only
NET V2  LOC = V2 | IOSTANDARD = LVCMOS33 ;
NET V3  LOC = V3 | IOSTANDARD = LVCMOS33 ; //dragon only
NET D8  LOC = D8 | IOSTANDARD = LVCMOS33 ; //dragon only

#NET "S_OUT[0]" LOC = H15 | IOSTANDARD = LVCMOS33;
#NET "S_OUT[1]" LOC = H17 | IOSTANDARD = LVCMOS33;
NET H15 LOC = H15 | IOSTANDARD = LVCMOS33;
NET H17 LOC = H17 | IOSTANDARD = LVCMOS33;

NET A6 LOC = A6 | IOSTANDARD = LVCMOS33;
NET P17 LOC = P17 | IOSTANDARD = LVCMOS33;


//ADC1 [0...7]
NET F17 LOC = F17 | IOSTANDARD = LVCMOS33; //a2
NET F18 LOC = F18 | IOSTANDARD = LVCMOS33; //a1
NET E17 LOC = E17 | IOSTANDARD = LVCMOS33; //a0
NET D18 LOC = D18 | IOSTANDARD = LVCMOS33; //-
NET E12 LOC = E12 | IOSTANDARD = LVCMOS33; //-
NET D17 LOC = D17 | IOSTANDARD = LVCMOS33; //-
NET C17 LOC = C17 | IOSTANDARD = LVCMOS33; //--
NET C18 LOC = C18 | IOSTANDARD = LVCMOS33; //-

//ADC2 [0...7]
NET G15 LOC = G15 | IOSTANDARD = LVCMOS33; //a11
NET E14 LOC = E14 | IOSTANDARD = LVCMOS33; //a9
NET F13 LOC = F13 | IOSTANDARD = LVCMOS33; //a10
NET G16 LOC = G16 | IOSTANDARD = LVCMOS33; //a8
NET G14 LOC = G14 | IOSTANDARD = LVCMOS33; //a7
NET E16 LOC = E16 | IOSTANDARD = LVCMOS33; //a6
NET F14 LOC = F14 | IOSTANDARD = LVCMOS33; //a5
NET E15 LOC = E15 | IOSTANDARD = LVCMOS33; //a4

NET D15 LOC = D15 | IOSTANDARD = LVCMOS33; //b11
NET C13 LOC = C13 | IOSTANDARD = LVCMOS33; //b10
NET D12 LOC = D12 | IOSTANDARD = LVCMOS33; //b9
NET C12 LOC = C12 | IOSTANDARD = LVCMOS33; //b8
NET A18 LOC = A18 | IOSTANDARD = LVCMOS33; //b7
NET B16 LOC = B16 | IOSTANDARD = LVCMOS33; //b6
NET A17 LOC = A17 | IOSTANDARD = LVCMOS33; //b5
NET A16 LOC = A16 | IOSTANDARD = LVCMOS33; //b4
NET A14 LOC = A14 | IOSTANDARD = LVCMOS33; //b3
NET A13 LOC = A13 | IOSTANDARD = LVCMOS33; //b2
NET B14 LOC = B14 | IOSTANDARD = LVCMOS33; //b1
NET B13 LOC = B13 | IOSTANDARD = LVCMOS33; //b0


// DACCTRL
NET C16  LOC = C16  | IOSTANDARD = LVCMOS33 ; 
NET J17  LOC = J17  | IOSTANDARD = LVCMOS33 ; 

// clock
NET ADCclk CLOCK_DEDICATED_ROUTE=FALSE | LOC=F16 | IOSTANDARD = LVCMOS33;



NET J15 LOC = J15 | IOSTANDARD = LVCMOS33; 
NET G18 LOC = G18 | IOSTANDARD = LVCMOS33; 
NET H18 LOC = H18 | IOSTANDARD = LVCMOS33; 
NET J18 LOC = J18 | IOSTANDARD = LVCMOS33; 
NET L18 LOC = L18 | IOSTANDARD = LVCMOS33; 
NET L17 LOC = L17 | IOSTANDARD = LVCMOS33; 
NET N17 LOC = N17 | IOSTANDARD = LVCMOS33; 
NET H16 LOC = H16 | IOSTANDARD = LVCMOS33; 
NET J14 LOC = J14 | IOSTANDARD = LVCMOS33; 
NET K15 LOC = K15 | IOSTANDARD = LVCMOS33; 
NET K17 LOC = K17 | IOSTANDARD = LVCMOS33;
NET M18 LOC = M18 | IOSTANDARD = LVCMOS33; 
NET M16 LOC = M16 | IOSTANDARD = LVCMOS33; 
NET P18 LOC = P18 | IOSTANDARD = LVCMOS33; 

NET R16 LOC = R16 | IOSTANDARD = LVCMOS33; 
NET R17 LOC = R17 | IOSTANDARD = LVCMOS33; 